.dropdown-control{

    &.spread{
        .ant-input-suffix{
            transform: rotate(180deg);
            top: 0;
        }
    }
}

.dropdown-control-popover{
    padding-top: 0 !important;

    .ant-popover-arrow{
        display: none;
    }

    .ant-input-search{
        margin: 10px 0 20px;
    }

    .table-selection{
        .ant-table-wrapper{
            //width: 500px;
        }
        table{
            width: auto;
            min-width: 400px;
        }
    }
}