.filter-panel{
    padding: 15px 25px;

    .filter-component{
        display: inline-flex;
        align-items: center;
        width: 30%;
        margin-bottom: 15px;

        label{
            flex: 0 80px;
            text-align: right;
            padding-right: 10px;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .ant-select{
            flex: 1;
        }
    }

    .operations{
        text-align: right;
        button{
            padding: 0 20px;
            margin-right: 10px;
        }
    }
}